.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;

    .textPlayer {
        overflow-y: scroll;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;

        .text {
            height: 100%;
            .selected {
                color: red;
            }
        }

        &.playing {
            overflow-y: unset;
        }
    }
}
