.container {
    height: 100%;
    // width: 100%;

    height: 100vh;

    display: grid;
    grid-template-rows: max-content minmax(min-content, 1fr);

    .content {
        display: grid;
        grid-template-rows: minmax(max-content, 1fr) max-content max-content;
        padding: 0 40px;
    }

    

    background-color: #fff;
    transition: background-color 300ms linear;

    .reader {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &.playing {
        background-color: #edd1b0;
        transition: background-color 300ms linear;
    }
}
