.container {

    display: grid;
    grid-template-rows: max-content minmax(min-content, 1fr);

    padding-bottom: env(safe-area-inset-bottom);

    .content {
        display: grid;
        grid-template-rows: 1fr max-content max-content;
        padding: 12px 40px 0 40px;
    }

    background-color: #fff;
    transition: background-color 300ms linear;

    .reader {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &.playing {
        background-color: #edd1b0;
        transition: background-color 300ms linear;
    }
}
