
.container {

    width: max-content;

    &.selectable {
        opacity: 0.8;
        transition: opacity  200ms ease-out;
        .wrapper {
            transform: scale(0.9);
            transition: transform  200ms ease-out;

            .book {

                position: relative;
    
                &:before {
    
                    z-index: 999;
    
                    width: 22px;
                    height: 22px;
                    bottom: 16px;
                    right: 16px;
    
                    border-radius: 50%;
    
                    background: transparent;
    
                    border: 1px solid #C4C4C4;
                    box-sizing: border-box;
    
                    position: absolute;
                    content: ' ';
                }
    
                &:after {
    
                    width: 18px;
                    height: 18px;
    
                    bottom: 18px;
                    right: 18px;
    
                    border-radius: 50%;
    
                    background: #C4C4C4;
    
                    border: 1px solid transparent;
                    box-sizing: border-box;
    
                    position: absolute;
                    content: ' ';
                }
    
            }

            .bottom {
                opacity: 0;
                transition: opacity  200ms ease-out;
            }

        }

        &.selected {
            opacity: 1;
            transition: opacity  200ms ease-out;
            .wrapper {
                transform: scale(1);
                transition: transform  200ms ease-out;
                .book {
        
                    &:before {
                        background: black;
                        border: 1px solid white;
                    }
                    &:after {
                        background: url('../../assets/icons/check.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        z-index: 999;
                    }
                }

            }
        }

    }

    .wrapper {
        transition: transform  200ms ease-out;

        

        .bottom {
            padding: 5px 4px 0 4px;
    
            font-size: 11px;
            color: grey;
            display: grid;
            grid-template-columns: max-content max-content max-content;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
    
            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }

}