.container {
    position: relative;

    // background-color: #995621;
    user-select: none;

    height: 224px;
    width: 152px;

    // &.nocover {
        --leather: url('../../assets/icons/leather2.png');
        background: linear-gradient(180deg, rgba(233, 109, 14, 0.245) 0%, rgba(87, 41, 6, 0.5) 100%), var(--leather), #94511d;
        background-blend-mode: soft-light, soft-light, normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -1px 1px 1px rgba(237, 200, 171, 0.27);
        background-size: 77%;
        border-radius: 2px 5px 5px 2px;
        // background: linear-gradient(180deg, #995621 0%, #6F3013 49.48%, #390B05 100%), linear-gradient(90deg, rgba(255, 255, 255, 0) 4.9%, rgba(255, 255, 255, 0.4) 5.49%, rgba(255, 255, 255, 0) 6.08%)
    // }

    // background: var(--imageOrColor);
    margin: auto;

    &:before {
        position: absolute;

        margin: 8px 6px 8px 15px;
        border: 1px solid rgba(255, 255, 255, 0.5);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        content: ' ';
    }

    &:after {
        border-radius: 2px 0 0 2px;
        position: absolute;
        content: ' ';
        top: 0;
        background: url('../../assets/book.png');
        mix-blend-mode: soft-light;
        opacity: 0.5;
        background-size: contain;
        width: 13px;
        height: 100%;
    }

    .wrapper {
        box-sizing: border-box;

        padding: 8px 6px 8px 15px;
        // padding: 14px;
        height: 100%;

        display: grid;
        grid-template-rows: 0.25fr 0.5fr 0.25;
        grid-template-areas:
            'title'
            'noop'
            'creator';

        overflow: hidden;

        .title {
            margin: auto 0;

            grid-area: title;
            text-align: center;
            line-height: 1.5em;
            height: 4.5em;
            overflow: hidden;
            text-overflow: ellipsis;

            color: white;
        }

        .creator {
            margin: auto 0;

            grid-area: creator;
            text-align: center;
            line-height: 1.5em;
            height: 4.5em;
            overflow: hidden;
            text-overflow: ellipsis;

            color: white;
        }
    }
}
