.container {
    position: relative;

    // background-color: #995621;
    user-select: none;

    height: 224px;
    width: 152px;

    background: linear-gradient(
            to right,
            #7e5230 0 0.33px,
            #703a19 0.33px 0.33px,
            #723412 0.66px 0.65px,
            #7c421e 1.31px 0.32px,
            #ae8860 1.63px 0.32px,
            #ceb79d 1.95px 0.32px,
            #cdb59b 2.27px 0.32px,
            #bd9771 2.59px 0.32px,
            #b17f52 2.91px 1.6px,
            #a87546 4.51px 0.32px,
            #a16b3a 4.83px 0.32px,
            #985c2a 5.15px 0.32px,
            #925422 5.47px 0.32px,
            #8e501e 5.79px 1.6px,
            #945824 7.39px 0.32px,
            #9d6533 7.71px 0.32px,
            #a87648 8.03px 0.32px,
            #b78c65 8.35px 0.32px,
            #be966e 8.67px 0.32px,
            #bd946c 8.99px 0.32px,
            #b6895f 9.31px 0.32px,
            #ad7947 9.63px 0.32px,
            #a56c38 9.95px 0.32px,
            // transparent
        ),
        var(--imageOrColor);
    background-size: contain;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.5),
        inset -1px 1px 2px rgba(255, 255, 255, 0.4);
    margin: auto;
    border-radius: 5px;

    &:before {
        position: absolute;

        margin: 9px;
        border: 1px solid rgba(255, 255, 255, 0.5);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        content: ' ';
    }

    .wrapper {
        box-sizing: border-box;

        padding: 14px;
        height: 100%;

        display: grid;
        grid-template-rows: 0.25fr 0.5fr 0.25;
        grid-template-areas:
            'title'
            'noop'
            'creator';

        overflow: hidden;

        .title {
            margin: auto 0;

            grid-area: title;
            text-align: center;
            line-height: 1.5em;
            height: 4.5em;
            overflow: hidden;
            text-overflow: ellipsis;

            color: white;
        }

        .creator {
            margin: auto 0;

            grid-area: creator;
            text-align: center;
            line-height: 1.5em;
            height: 4.5em;
            overflow: hidden;
            text-overflow: ellipsis;

            color: white;
        }
    }
}
