
.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 30px;

    .statusBar {

        position: relative;

        margin-bottom: 12px;

        height: 2.8px;
        width: 80%;
        background-color: rgba(218, 218, 218, 0.8);
        border-radius: 5px;

        &:after {
            content: ' ';
            position: absolute;

            height: 2.8px;
            width: 100%;
            width: var(--position);

            background-color: black;
            border-radius: 5px;

        }
    }

    .bottomBar {

        position: relative;

        width: 80%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        .timeLeft {
            grid-column-start: 2;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.03em;
            color: #020202;
        }

        .wordsLeft {
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.03em;

            justify-self: flex-end;
            
            color: rgba(127, 127, 131, 0.9);
        }

    }

}