.container {
    width: 100%;
    // text-align: center;

    user-select: none;

    .ORPGuideline {

        position: relative;

        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        &::before, &::after {
            position: absolute;
            content: ' ';
            margin-left: var(--orpPos);
            width: 4px;
            height: 12px;
            background-color: black;
            left: 0;
        }
        &::before {
            top:0;
        }
        &::after {
            bottom: 0;
        }

        &.disabled {
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            &::before, &::after {
                visibility: hidden;
            }
        }

    }

    .orp {
        :nth-child(2) {
            color: #BC0B05;
        }
    }
}
