.container {
    width: 100%;
    // text-align: center;

    user-select: none;

    .ORPGuideline {
        &.disabled {
            .topLine,
            .bottomLine {
                background-color: transparent;
                &::after {
                    background-color: transparent;
                }
            }
        }

        .topLine {
            width: 100%;
            height: 3px;
            background-color: black;
            &::after {
                margin-left: var(--orpPos);
                position: absolute;
                content: ' ';
                height: 12px;
                width: 4px;
                background-color: black;
            }
        }

        .bottomLine {
            width: 100%;
            margin-top: 6px;
            height: 3px;
            background-color: black;
            &::after {
                margin-top: -9px;
                margin-left: var(--orpPos);
                position: absolute;
                content: ' ';
                height: 12px;
                width: 4px;
                background-color: black;
            }
        }
    }

    &.orp {
        .orpChar {
            color: red;
        }
    }
}
