.container {
    height: 41px;
    width: 100%;

    padding-top: env(safe-area-inset-top);

    display: grid;
    grid-template-columns: max-content 1fr max-content;

    user-select: none;

    &.hidden {
        animation: hide 1s ease-in-out;
        visibility: hidden;
    }

    .title {
        display: inline;
        text-align: center;

        margin: auto 0;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .button {
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backButton {
        padding: 7px 0 7px 14px;
        height: 29px;
        width: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        padding: 7px 18px 10px 0;

        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: flex-end;
        align-items: center;
        grid-column-gap: 34px;

        min-width: 60px;
    }
}

@keyframes hide {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
