.container {
    height: 38px;
    width: 100%;

    display: grid;
    grid-template-columns: max-content 1fr max-content;

    user-select: none;

    &.hidden {
        animation: hide 1s ease-in-out;
        visibility: hidden;
    }

    .title {
        display: inline;
        text-align: center;

        margin: auto 0;

        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap; 

    }

    .button {
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backButton {
        margin-left: 12px;
    }

    .buttons {
        padding-right: 12px;
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-column-gap: 32px;
        justify-content: flex-end;
    }
}

@keyframes hide {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
