
.container {

    padding-top: env(safe-area-inset-top);

    height: 42px;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    justify-items: center;
    align-items: center;

    background: rgba(254, 254, 254, 0.5);

    border-bottom: 1px solid #E3E3E3;

    .title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.02em;
    }

    .leftButton {
        
        height: 42px;
        width: 48px;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            height: 16px;
            width: 16px;
        }

    }

    .rightButton {
        height: 42px;
        width: 48px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        letter-spacing: 0.03em;

    }

}