
@import "./fonts.scss";

html, body {
    height: 100%;
    overflow: hidden;
    overscroll-behavior-y: none;
    background-color: #fefefe;
    transition: background-color 300ms linear;
    color: black;
}
  
#root {
    font-family: 'SF UI Display';
    user-select: none;
    position: absolute;
    top: env(safe-area-inset-top);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

