.container {
    height: 100vh;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        'head'
        'content'
        'bottom';
    grid-template-columns: 1fr;


}
