.container {

    grid-area: page;
    height: 100%;

    display: grid;
    grid-template-rows: max-content minmax(0, 1fr);

    .listContainer {
        padding-top: 20px;

        
        overflow: auto;

        .list {
            display: grid;
            grid-template-columns: repeat(2, min-content);

            grid-gap: 20px;

            align-content: space-around;
            justify-content: space-around;
        }
    }

}
