.container {
    height: 196px;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 0.5fr;

    user-select: none;

    // justify-content: center;
    // align-items: center;

    &.hidden {
        animation: hide 1s ease-in-out;
        visibility: hidden;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            height: 32px;
            width: 32px;
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 32px;
    }
}

@keyframes hide {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
